NODE_ENV=dev
PORT=7071

DB_USER=DBUser
DB_PASSWORD=DBPassword
MONGODB_DATABASE=DBName # localhost or mongodb when running docker node server
MONGODB_PORT=DBPort
MONGODB_URI=mongodb://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<MONGODB_PORT>/<MONGODB_DATABASE>?authSource=admin

SECRET=PrivateKeyOrSecretToGenerateAccessToken